<img
  class="background"
  src="https://media.socialdeal.nl/img/snowflake_drenthe.jpg"
  alt="Social Deal Drenthe sfeerafbeelding"
/>

<div class="content">
  <nav>
    <img src="https://media.socialdeal.nl/img/logo-social-deal.png" a="Social Deal">
    <a>Nieuwe deals in ...</a>
    <form [formGroup]="productSearchForm">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput formControlName="query" placeholder="Zoeken in {{ selectedProductTab }}" (ngModelChange)="searchProduct()">
      </mat-form-field>
    </form>
  </nav>

  <mat-tab-group (selectedTabChange)="changeProductTab($event)">
    <mat-tab *ngFor="let productTab of productTabs" [label]="productTab.label">
      <ng-template mat-tab-label>
        <div>
          <mat-icon>{{ productTab.icon }}</mat-icon>
          <div>{{ productTab.label }}</div>
        </div>
      </ng-template>

      <div class="container">
        <app-product
          *ngFor="let product of categorisedProducts"
          [product]="product"
        ></app-product>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet></router-outlet>
