<mat-tab-group (selectedTabChange)="selectTab($event)">
  <mat-tab *ngFor="let productTab of productTabs" [label]="productTab.label">
    <ng-template mat-tab-label>
      <div>
        <mat-icon>{{ productTab.icon }}</mat-icon>
        <div>{{ productTab.label }}</div>
      </div>
    </ng-template>
    <div class="container">
      <app-product *ngFor="let product of filteredProducts" [product]="product"></app-product>
    </div>
  </mat-tab>
</mat-tab-group>

<footer>
  hoi, ik ben een footer
</footer>

<router-outlet></router-outlet>
