<mat-card (click)="test()">
  <div class="img-wrapper">
    <img src="{{ product['thumbnail'] }}" alt="Product thumbnail" />
  </div>

  <h1>{{ product["title"] }}</h1>

  <span class="product-info">
    <p>★{{ product["rating"] }}</p>
    <p>{{ product["description"] }}</p>
  </span>

  <span class="product-data">
    <a>Voorraad: {{ product["stock"] }}</a>
    <a>€{{ product["price"] }}</a>
    <a
      >€{{
        product["price"] +
          (product["price"] * product["discountPercentage"]) / 100
      }}</a
    >
  </span>
</mat-card>
