mat-card {
  background-color: red;
  width: 510px;
  height: fit-content;
  :hover {
    cursor: pointer;
  }
  .img-wrapper {
    display: inline-block;
    overflow: hidden;
    height: 300px;
    img {
      width: 100%;
      height: auto;
      transition: all .3s ease;
      vertical-align: middle;
    }
  }
  img:hover {
    transform: scale(1.1);
  }
  h1 {
    margin: 0;
  }
  .product-info {
    font-size: 18px;
    p:first-of-type {
      color: var(--yellow);
    }
    p:nth-of-type(2) {
      color: var(--grey);
    }
  }
  .product-data {
    a:first-of-type {
      color: var(--blue);
      font-size: 18px;
    }
    a:nth-of-type(2) {
      color: var(--green);
      font-size: 22px;
    }
    a:nth-of-type(3) {
      color: var(--grey);
      text-decoration: line-through;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1270px) {
  mat-card {
    width: 500px;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
